/* Basic reset and body styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('images/6294122.jpg'); /* Correct path */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* Header styling */
header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.header-container {
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav {
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main section styling */
section {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 8px;
    margin-top: 100px;
}

/* Centering image */
.centered-image {
    text-align: center;
}

.centered-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
}

/* Gallery styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 300px; /* Fixed width for each image */
    height: 300px; /* Fixed height for each image */
    object-fit: cover; /* Ensures images cover the dimensions without distortion */
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    transition: transform 400ms, filter 400ms;
    filter: grayscale(100%);
}

.gallery img:hover {
    transform: scale(1.03);
    filter: grayscale(0);
}

/* Footer styling */
footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        width: 150px;
        height: 150px;
    }

    header nav ul {
        text-align: center;
        padding: 0;
    }

    header nav ul li {
        display: block;
        margin: 5px 0;
    }
}
